---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home - RPG Portfolio">
  <h1>Selamat Datang, Petualang!</h1>
  <p>Ini adalah halaman utama (Peta Dunia).</p>
</MainLayout>
