---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection } from "astro:content";

const allProjects = await getCollection("projects", ({ data }) => {
  return data.publishDate;
});
allProjects.sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<MainLayout title="Projects - RPG Portfolio">
  <h1>Quest Log</h1>
  <p>Berikut adalah daftar misi yang telah saya selesaikan.</p>

  <ul>
    {
      allProjects.map((project) => (
        <li>
          <a href={`/projects/${project.slug}/`}>
            <strong>{project.data.title}</strong>
          </a>
          <p>{project.data.description}</p>
        </li>
      ))
    }
  </ul>
</MainLayout>
